*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  text-align: center;
  margin: 20px;
  color: blue;
}

form {
  text-align: center;
}

table{
  display: block;
  width: 100%;
  background-color: azure;
  border-radius: 10px;
  overflow: auto;
}

input {
  width: 700px;
  height: 40px;
  border: solid 1px gray;
  padding-left: 10px;

}

button {
  margin: 20px;
  min-width: 140px;
}
form {
  margin: 20px;
}

.DELETE:hover {
  color: red;
  font-weight: bold;
}

.EDIT:hover {
  color: blue;
  font-weight: bold;
}

.col {
  font-size: 10px;
  padding: 10px;
  font-weight: bold;
}

.row {
  font-size: 10px;
  padding: 10px;
  cursor: pointer;
}

.row:hover {
  font-weight: bold;
}

.DELETE {
  font-size: 12px;
  padding: 10px;
  cursor: pointer;
}

.EDIT {
  font-size: 12px;
  padding: 10px;
  cursor: pointer;
}

.LASTNAME,
.FIRSTNAME,
.PATRONYMIC {
  text-align: center;
}

.butAdd {
  text-align: right;
}



