<div class="container">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="personsRes">

      <!--        <ng-container-->
      <!--          *ngFor="let person of displayedColumns"-->
      <!--          matColumnDef="{{person}}">-->
      <!--          <th mat-header-cell *matHeaderCellDef class="col" id="{{person}}">{{person}}</th>-->
      <!--          <td mat-cell *matCellDef="let row" class="row">{{row[person]}}</td>-->
      <!--        </ng-container>-->

      <ng-container matColumnDef="N">
        <th mat-header-cell *matHeaderCellDef class="col"></th>
        <td mat-cell *matCellDef="let row" class="row"> {{row.N}} </td>
      </ng-container>

      <ng-container matColumnDef="CARD">
        <th mat-header-cell *matHeaderCellDef class="col">CARD</th>
        <td mat-cell *matCellDef="let row" class="row"> {{row.CARD}} </td>
      </ng-container>

      <ng-container matColumnDef="LASTNAME">
        <th mat-header-cell *matHeaderCellDef class="col">LASTNAME</th>
        <td mat-cell *matCellDef="let row" class="fio row"> {{row.LASTNAME}} </td>
      </ng-container>

      <ng-container matColumnDef="FIRSTNAME">
        <th mat-header-cell *matHeaderCellDef class="col">FIRSTNAME</th>
        <td mat-cell *matCellDef="let row" class="fio row"> {{row.FIRSTNAME}} </td>
      </ng-container>

      <ng-container matColumnDef="PATRONYMIC">
        <th mat-header-cell *matHeaderCellDef class="col">PATRONYMIC</th>
        <td mat-cell *matCellDef="let row" class="fio row"> {{row.PATRONYMIC}} </td>
      </ng-container>

      <ng-container matColumnDef="IDPERSON">
        <th mat-header-cell *matHeaderCellDef class="col">IDPERSON</th>
        <td mat-cell *matCellDef="let row" class="row"> {{row.IDPERSON}} </td>
      </ng-container>

      <ng-container matColumnDef="STATUSNAME">
        <th mat-header-cell *matHeaderCellDef class="col">STATUSNAME</th>
        <td mat-cell *matCellDef="let row" class="row"> {{row.STATUSNAME}} </td>
      </ng-container>

      <ng-container matColumnDef="ACC1NUM">
        <th mat-header-cell *matHeaderCellDef class="col">ACC1NUM</th>
        <td mat-cell *matCellDef="let row" class="row"> {{row.ACC1NUM}} </td>
      </ng-container>

      <ng-container matColumnDef="CARDTEMPLNAME">
        <th mat-header-cell *matHeaderCellDef class="col">CARDTEMPLNAME</th>
        <td mat-cell *matCellDef="let row" class="row"> {{row.CARDTEMPLNAME}} </td>
      </ng-container>

      <ng-container matColumnDef="ORGNAMESHORT">
        <th mat-header-cell *matHeaderCellDef class="col">ORGNAMESHORT</th>
        <td mat-cell *matCellDef="let row" class="row"> {{row.ORGNAMESHORT}} </td>
      </ng-container>

      <ng-container matColumnDef="PERSONTYPENAME">
        <th mat-header-cell *matHeaderCellDef class="col">PERSONTYPENAME</th>
        <td mat-cell *matCellDef="let row" class="row"> {{row.PERSONTYPENAME}} </td>
      </ng-container>

      <ng-container matColumnDef="CURRNAME">
        <th mat-header-cell *matHeaderCellDef class="col">CURRNAME</th>
        <td mat-cell *matCellDef="let row" class="row"> {{row.CURRNAME}} </td>
      </ng-container>

      <ng-container matColumnDef="IDCARD">
        <th mat-header-cell *matHeaderCellDef class="col">IDCARD</th>
        <td mat-cell *matCellDef="let row" class="row"> {{row.IDCARD}} </td>
      </ng-container>

      <ng-container matColumnDef="BIRTHDATE">
        <th mat-header-cell *matHeaderCellDef class="col">BIRTHDATE</th>
        <td mat-cell *matCellDef="let row" class="row"> {{row.BIRTHDATE}} </td>
      </ng-container>

      <ng-container matColumnDef="DOCSERIES">
        <th mat-header-cell *matHeaderCellDef class="col">DOCSERIES</th>
        <td mat-cell *matCellDef="let row" class="row"> {{row.DOCSERIES}} </td>
      </ng-container>

      <ng-container matColumnDef="DOCNUM">
        <th mat-header-cell *matHeaderCellDef class="col">DOCNUM</th>
        <td mat-cell *matCellDef="let row" class="row"> {{row.DOCNUM}} </td>
      </ng-container>

      <ng-container matColumnDef="IDTASKAUTHSTATUS">
        <th mat-header-cell *matHeaderCellDef class="col">IDTASKAUTHSTATUS</th>
        <td mat-cell *matCellDef="let row" class="row"> {{row.IDTASKAUTHSTATUS}} </td>
      </ng-container>

      <ng-container matColumnDef="DOCTYPENAME">
        <th mat-header-cell *matHeaderCellDef class="col">DOCTYPENAME</th>
        <td mat-cell *matCellDef="let row" class="row"> {{row.DOCTYPENAME}} </td>
      </ng-container>

      <ng-container matColumnDef="DELETE">
        <th mat-header-cell *matHeaderCellDef class="col"></th>
        <td mat-cell *matCellDef="let row" class="del">
          <a (click)="remove(row.IDCARD)">Удалить</a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>

  <div>
    <button
      *ngIf= isAddData
      mat-raised-button
      color="primary"
      class="butAdd"
      (click)="setIsAddData()"
    >
      Добавить новую запись
    </button>

    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isAddData">

      <div class="form-group">
        <input
          type="text"
          id="code"
          class="form-control"
          ngModel
          placeholder="test"
          name="code"
          required>
      </div>

      <button
        mat-raised-button
        color="primary"
        class="butAdd"
        type="submit"
        [disabled]="!authForm.valid"
      >
        Сохранить
      </button>

    </form>

  </div>


</div>


